@import "tailwindcss";

@font-face {
  font-family: Overpass;
  src: url(assets/font/Overpass/OFL.txt) format("truetype");
}

@font-face {
  font-family: ubuntu;
  src: url(assets/font/Ubuntu/UFL.txt) format("truetype");
}

@theme {
  /* Primary */

  --color-red-500: hsl(356, 100%, 66%);
  --color-red-400: hsl(355, 100%, 74%);
  --color-blue-900: hsl(208, 49%, 24%);

  /* Neutral */

  --color-white: hsl(0, 100%, 100%);
  --color-gray-600: hsl(207, 13%, 34%);
  --color-gray-900: hsl(240, 10%, 16%);

  /* Gradient */

  /* Background gradient - intro/CTA mobile nav: */

  --color-orange-300: hsl(13, 100%, 72%);
  --color-red-550: hsl(353, 100%, 62%);

  /* Background gradient - body: */

  --color-purple-950: hsl(237, 17%, 21%);
  --color-purple-900: hsl(237, 23%, 31%);
}

.img-bg {
  background: url(/images/bg-pattern-intro-mobile.svg) no-repeat;
  background-position: right;
  background-size: 120%;
}
/* 
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Overpass;
}

p,
span,
a,
li {
  font-family: ubuntu;
} */
